[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "flask run"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
seed = "python seed.py"

[packages]
flask = "*"
wtforms = "*"
python-dotenv = "*"
gunicorn = "*"
flask-migrate = "*"
sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
is-safe-url = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
